<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!--❤️Feito com amor por Daniele Barroso Ramos e Paulo Roberto Carvalhal Junior❤️-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Título da página --}}
    <title>Power Mind</title>

    <link rel="shortcut icon" href="coxa.ico">

    <!-- Link CSS externo -->
    <link rel="stylesheet" href="../css/estilo-doencas.css">

    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    {{!-- Link de fonte --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meddon&display=swap" rel="stylesheet">

    {{!-- Link de fonte --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">

{{!-- Fim do Head --}}
</head>

{{!--Início do body --}}
<body style="background-color:#232946">

{{!-- Inicio da navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top justify-content-lg-center col-12" id="navnav">
        <div class="container-fluid">

          {{!-- Logo da Navbar  --}}
          <a class="navbar-brand" id="brand">
            Power Mind
          </a>

          {{!-- Botão de quando a tela é colapsada --}}
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            
            {{!-- Ícone feito com containers --}}
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>

          {{!-- Conteúdo da Navbar --}}
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav col-12 justify-content-around">

                  {{!-- Primeiro Item - Home --}}
                 <li class="nav-item">
                <a class="nav-link" href="/index">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                    </svg>
                  Home
                </a>
              </li>

              <!-- Primeiro Item - Doenças -->
              <li class="nav-item">
                <a class="nav-link" href="/doencas">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bandaid-fill" viewBox="0 0 16 16">
                    <path d="m2.68 7.676 6.49-6.504a4 4 0 0 1 5.66 5.653l-1.477 1.529-5.006 5.006-1.523 1.472a4 4 0 0 1-5.653-5.66l.001-.002 1.505-1.492.001-.002Zm5.71-2.858a.5.5 0 1 0-.708.707.5.5 0 0 0 .707-.707ZM6.974 6.939a.5.5 0 1 0-.707-.707.5.5 0 0 0 .707.707ZM5.56 8.354a.5.5 0 1 0-.707-.708.5.5 0 0 0 .707.708Zm2.828 2.828a.5.5 0 1 0-.707-.707.5.5 0 0 0 .707.707Zm1.414-2.121a.5.5 0 1 0-.707.707.5.5 0 0 0 .707-.707Zm1.414-.707a.5.5 0 1 0-.706-.708.5.5 0 0 0 .707.708Zm-4.242.707a.5.5 0 1 0-.707.707.5.5 0 0 0 .707-.707Zm1.414-.707a.5.5 0 1 0-.707-.708.5.5 0 0 0 .707.708Zm1.414-2.122a.5.5 0 1 0-.707.707.5.5 0 0 0 .707-.707ZM8.646 3.354l4 4 .708-.708-4-4-.708.708Zm-1.292 9.292-4-4-.708.708 4 4 .708-.708Z"/>
                  </svg>
                  Doenças
                </a>
              </li>

              <!-- Segundo Item - Desabafos -->
              <li class="nav-item">
                <a class="nav-link" href="/posts">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                    <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
                  </svg>
                  Desabafos
                </a>
              </li>

              <!-- Terceiro Item - Projeto -->
              <li class="nav-item">
                <a class="nav-link" href="/projeto">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flower1" viewBox="0 0 16 16">
                    <path d="M6.174 1.184a2 2 0 0 1 3.652 0A2 2 0 0 1 12.99 3.01a2 2 0 0 1 1.826 3.164 2 2 0 0 1 0 3.652 2 2 0 0 1-1.826 3.164 2 2 0 0 1-3.164 1.826 2 2 0 0 1-3.652 0A2 2 0 0 1 3.01 12.99a2 2 0 0 1-1.826-3.164 2 2 0 0 1 0-3.652A2 2 0 0 1 3.01 3.01a2 2 0 0 1 3.164-1.826zM8 1a1 1 0 0 0-.998 1.03l.01.091c.012.077.029.176.054.296.049.241.122.542.213.887.182.688.428 1.513.676 2.314L8 5.762l.045-.144c.248-.8.494-1.626.676-2.314.091-.345.164-.646.213-.887a4.997 4.997 0 0 0 .064-.386L9 2a1 1 0 0 0-1-1zM2 9l.03-.002.091-.01a4.99 4.99 0 0 0 .296-.054c.241-.049.542-.122.887-.213a60.59 60.59 0 0 0 2.314-.676L5.762 8l-.144-.045a60.59 60.59 0 0 0-2.314-.676 16.705 16.705 0 0 0-.887-.213 4.99 4.99 0 0 0-.386-.064L2 7a1 1 0 1 0 0 2zm7 5-.002-.03a5.005 5.005 0 0 0-.064-.386 16.398 16.398 0 0 0-.213-.888 60.582 60.582 0 0 0-.676-2.314L8 10.238l-.045.144c-.248.8-.494 1.626-.676 2.314-.091.345-.164.646-.213.887a4.996 4.996 0 0 0-.064.386L7 14a1 1 0 1 0 2 0zm-5.696-2.134.025-.017a5.001 5.001 0 0 0 .303-.248c.184-.164.408-.377.661-.629A60.614 60.614 0 0 0 5.96 9.23l.103-.111-.147.033a60.88 60.88 0 0 0-2.343.572c-.344.093-.64.18-.874.258a5.063 5.063 0 0 0-.367.138l-.027.014a1 1 0 1 0 1 1.732zM4.5 14.062a1 1 0 0 0 1.366-.366l.014-.027c.01-.02.021-.048.036-.084a5.09 5.09 0 0 0 .102-.283c.078-.233.165-.53.258-.874a60.6 60.6 0 0 0 .572-2.343l.033-.147-.11.102a60.848 60.848 0 0 0-1.743 1.667 17.07 17.07 0 0 0-.629.66 5.06 5.06 0 0 0-.248.304l-.017.025a1 1 0 0 0 .366 1.366zm9.196-8.196a1 1 0 0 0-1-1.732l-.025.017a4.951 4.951 0 0 0-.303.248 16.69 16.69 0 0 0-.661.629A60.72 60.72 0 0 0 10.04 6.77l-.102.111.147-.033a60.6 60.6 0 0 0 2.342-.572c.345-.093.642-.18.875-.258a4.993 4.993 0 0 0 .367-.138.53.53 0 0 0 .027-.014zM11.5 1.938a1 1 0 0 0-1.366.366l-.014.027c-.01.02-.021.048-.036.084a5.09 5.09 0 0 0-.102.283c-.078.233-.165.53-.258.875a60.62 60.62 0 0 0-.572 2.342l-.033.147.11-.102a60.848 60.848 0 0 0 1.743-1.667c.252-.253.465-.477.629-.66a5.001 5.001 0 0 0 .248-.304l.017-.025a1 1 0 0 0-.366-1.366zM14 9a1 1 0 0 0 0-2l-.03.002a4.996 4.996 0 0 0-.386.064c-.242.049-.543.122-.888.213-.688.182-1.513.428-2.314.676L10.238 8l.144.045c.8.248 1.626.494 2.314.676.345.091.646.164.887.213a4.996 4.996 0 0 0 .386.064L14 9zM1.938 4.5a1 1 0 0 0 .393 1.38l.084.035c.072.03.166.064.283.103.233.078.53.165.874.258a60.88 60.88 0 0 0 2.343.572l.147.033-.103-.111a60.584 60.584 0 0 0-1.666-1.742 16.705 16.705 0 0 0-.66-.629 4.996 4.996 0 0 0-.304-.248l-.025-.017a1 1 0 0 0-1.366.366zm2.196-1.196.017.025a4.996 4.996 0 0 0 .248.303c.164.184.377.408.629.661A60.597 60.597 0 0 0 6.77 5.96l.111.102-.033-.147a60.602 60.602 0 0 0-.572-2.342c-.093-.345-.18-.642-.258-.875a5.006 5.006 0 0 0-.138-.367l-.014-.027a1 1 0 1 0-1.732 1zm9.928 8.196a1 1 0 0 0-.366-1.366l-.027-.014a5 5 0 0 0-.367-.138c-.233-.078-.53-.165-.875-.258a60.619 60.619 0 0 0-2.342-.572l-.147-.033.102.111a60.73 60.73 0 0 0 1.667 1.742c.253.252.477.465.66.629a4.946 4.946 0 0 0 .304.248l.025.017a1 1 0 0 0 1.366-.366zm-3.928 2.196a1 1 0 0 0 1.732-1l-.017-.025a5.065 5.065 0 0 0-.248-.303 16.705 16.705 0 0 0-.629-.661A60.462 60.462 0 0 0 9.23 10.04l-.111-.102.033.147a60.6 60.6 0 0 0 .572 2.342c.093.345.18.642.258.875a4.985 4.985 0 0 0 .138.367.575.575 0 0 0 .014.027zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                  </svg>
                  Projeto
                </a>
              </li>
            </ul>
          </div>    
        </div>
{{!-- Fim da Navbar --}}
</nav>

{{!-- Linha branca --}}
<hr class="text-white m-0 p-0"></hr>

{{!-- Container do título da página de doenças --}}
<div class="container-fluid container1 text-white">
    <div class="row pt-5 linha1">
        <h1>DOENÇA</h1>
        <h1>X</h1>
        <h1>TRANSTORNO</h1>
        </div>
</div>
{{!-- Container explicando a diferença dos termos --}}
<div class="container-fluid container2">
    <div class="row justify-content-around text-white p-3 linha2">
        <div class="col-sm-11">
            <p>Antes de tudo, precisamos entender alguns estágios e coisas relacionadas as alterações de ordem mental, vamos então entender o que é sintoma, doença, transtorno e síndrome.</p>
        </div>

        {{!-- Container do sintoma --}}
        <div class="col-sm-5 p-3">
            <h1>SINTOMA</h1>
            <p>Sintoma é o primeiro indicativo de que algo não vai bem, é a queixa que deve ser apresentada a um profissional, que tratará e tomará as medidas mais eficientes para o seu caso, lembrando que o sintoma é diferente do sinal, o sinal é perceptível por qualquer pessoa externa, já o sintoma, apenas pela pessoa em questão, mas não deve nunca ser ignorado.</p>
        </div>

        {{!-- Container da doença --}}
        <div class="col-sm-5 p-3">
            <h1>DOENÇA</h1>
            <p>Segundo a OMS, doença é a “ausência de saúde”, acompanhada por alterações do estado de equilíbrio de uma pessoa em relação ao meio ambiente, sendo assim doença mental caracteriza-se por uma grande quantidade de condições que afetam seu humor, comportamento e raciocínio.
                Para que algo seja considerado uma doença é preciso que ela se enquadre em três critérios, sendo eles:
                •	ter uma causa reconhecida;
                •	manifestar-se por meio de uma sintomatologia específica; e
                •	provocar alterações no organismo, sejam elas visíveis ou detectadas por meio de exames.
                </p>
        </div>

        {{!-- Container do transtorno --}}
        <div class="col-sm-5 p-3">
            <h1>TRANSTORNO</h1>
            <p>Transtorno é caracterizado pelo quadro geral do paciente, nem sempre estando associado a uma doença propriamente dita, embora causem desconforto, geralmente estão associadas a ordem mental ou psicológica.</p>
        </div>

        {{!-- Container da síndrome --}}
        <div class="col-sm-5 p-3">
            <h1>SÍNDROME</h1>
            <p>A síndrome é uma palavra associada a um conjunto de sinais que tem origem em mais de uma causa, portanto muitos pacientes diagnosticados com síndromes podem nunca chegar a um veredicto final sobre a causa de seus sintomas.</p>
        </div>

        {{!-- Container explicativo --}}
        <div class="col-sm-11">
            <p>Quando se fala em alterações da ordem mental, é preferível utilizar-se o termo “transtorno”, já que raramente um paciente apresenta todos os sinais que caracterizam uma doença, o termo também possui uma melhor aceitação diante do preconceito que ainda assola as pessoas com desordens mentais.</p>
            <p>Separamos abaixo alguns dos transtornos, síndromes e doenças mais comuns no Brasil:</p>
        </div>
    </div>
</div>

{{!-- Container dos cards das doenças --}}
<div class="container-fluid container3 p-3">
        <div class="row justify-content-around text-white linha3">

    {{!-- Primeiro Card - Depressão --}}
    <div class="card1 col-sm-3 m-1">
        <a href="depressao" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/depressãosite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Depressão</h5>
                <p class="card-text">Depressão é uma doença psiquiátrica crônica e recorrente que produz alteração do humor caracterizada por tristeza...</p>
            </div>
        </a>
    </div>

    {{!-- Segundo Card - Ansiedade --}}
    <div class="card1 col-sm-3 m-1">
        <a href="ansiedade" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/ansiedadesite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Ansiedade</h5>
                <p class="card-text">O transtorno de ansiedade generalizada (TAG) é um distúrbio caracterizado pela “preocupação excessiva ou expectativa...</p>
            </div>
        </a>
    </div>

    {{!-- Terceiro Card - Transtorno de Estresse Pós Traumático --}}
    <div class="card1 col-sm-3 m-1">
        <a href="estresspostram" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/estressepostraumsite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Transtorno de Estresse Pós Traumático</h5>
                <p class="card-text">O transtorno do estresse pós-traumático (TEPT) é um distúrbio de ansiedade...<p>
            </div>
        </a>
    </div>

    {{!-- Quarto card - Esquizofrenia --}}
    <div class="card1 col-sm-3 m-1">
        <a href="esquizofrenia" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/esquizofreniasite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Esquizofrenia</h5>
                <p class="card-text">A esquizofrenia é um transtorno mental grave que muda o modo como a pessoa pensa...</p>
            </div>
        </a>
    </div>

    {{!-- Quinto card - Síndrome do pânico --}}
    <div class="card1 col-sm-3 m-1">
        <a href="sindromedopanico" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/sindpanicosite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Síndrome do Pânico</h5>
                <p class="card-text">Síndrome do pânico é uma condição associada a crises repentinas de ansiedade aguda, marcadas por muito medo...</p>
            </div>
        </a>
    </div>

    {{!-- Sexto Card - Síndrome da cabana --}}
    <div class="card1 col-sm-3 m-1">
        <a href="sindcabana" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/sindcabanasite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Síndrome da Cabana</h5>
                <p class="card-text">Síndrome da cabana é caracterizada por uma condição onde o indivíduo permanece por muito tempo em....</p>
            </div>
        </a>
    </div>
    
    {{!-- Sétimo Card - Transtorno bipolar --}}
    <div class="card1 col-sm-3 m-1">
        <a href="transbipolar" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/transbipolarsite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Transtorno Bipolar</h5>
                <p class="card-text">O transtorno bipolar é marcado pela alternância entre episódios de depressão e de euforia; as crises pode variar....</p>
            </div>
        </a>
    </div>

    {{!-- Oitavo Card - Transtornos alimentares --}}
    <div class="card1 col-sm-3 m-1">
        <a href="ta" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/tasite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Transtornos Alimentares</h5>
                <p class="card-text">Transtornos alimentares descrevem doenças que são caracterizadas por hábitos alimentares irregulares e...</p>
            </div>
        </a>
    </div>

    {{!-- Nono Card - Transtorno de personalidade Borderline --}}
     <div class="card1 col-sm-3 m-1">
        <a href="transborder" class="btn1"> 
            <img class="card-img-top pt-3" src="/img/bordersite.png" id="card-img" alt="Card image cap">
            <div class="card-body mb-3 mt-3">
                <h5 class="card-title">Transtorno de personalidade Borderline</h5>
                <p class="card-text">O Transtorno de Personalidade Borderline é caracterizado por dificuldade em reconhecer adequadamente emoções...</p>
            </div>
        </a>
    </div>
    </div>
{{!-- Fim dos containers sobre doenças --}}
</div>


{{!-- Container do rodapé de conteúdo principal --}}
<div class="container-fluid rodape">
  <div class="p-5 row conteudo-rodape justify-content-around pb-5">
    <hr></hr>
  <div class="col-sm-3">
    {{!-- Logo Power Mind --}}
    <h1 class="powermind2">Power Mind</h1>
</div>
{{!-- Coluna do início --}}
<div class="col-sm-2">
    <h3>Início</h3>
    <a href="index"><p>Home</p></a>
    <a href="doencas"><p>Doenças</p></a>
    <a href="posts"><p>Desabafos</p></a>
    
</div>
{{!-- Coluna sobre nós --}}
<div class="col-sm-2">
    <h3>Sobre Nós</h3>
    <p>Informações da empresa</p>
    <p>Contatos</p>
</div>
{{!-- Coluna de suporte --}}
<div class="col-sm-2">
    <h3>Suporte</h3>
    <p>Email</p>
</div>
{{!-- Coluna de link Discord --}}
<div class="col-sm-2">
<a href="https://discord.gg/qUufzQny6h">
  {{!-- Ícone do Discord --}}
  <svg xmlns="http://www.w3.org/2000/svg"  height="auto" fill="currentColor" class="bi bi-discord col-3" viewBox="0 0 16 16">
  <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/>
</svg>
</a>
<a href="doencas">
  {{!-- Ícone do Facebook --}}
  <svg xmlns="http://www.w3.org/2000/svg"  height="auto" fill="currentColor" class="bi bi-facebook col-3" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
</svg>
</a>
<a href="doencas">
  {{!-- Ícone do WhatsApp --}}
  <svg xmlns="http://www.w3.org/2000/svg" height="auto" fill="currentColor" class="bi bi-whatsapp col-3" viewBox="0 0 16 16">
  <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
</svg>
</a>

</div>
</div>

 {{!-- Fim do container rodapé de conteúdo principal --}}
</div>

{{!-- Container do rodapé com nomes --}}
<div class="container-fluid rodape1">
  <div class="row align-content-center">
    <div class="col-sm-11">

      {{!-- ícone do Copyright --}}
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
      <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
    </svg> 2022  Copyright - Programadores Daniele Barroso Ramos e Paulo Roberto Carvalhal Junior</p>
  </div>
  </div>

{{!-- Fim do rodapé com nomes --}}
</div>

<!--Link Script Bootstrap-->
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

{{!-- Botão para subir a página --}}
<a onclick="topFunction()" id="myBtn" title="Go to top">

  {{!-- ícone do botão - seta para cima --}}
  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
  </svg>
</a>

{{!-- Fim do Body --}}
</body>

{{!-- Script do botão para subir a página --}}
<script>

  // pegar botão
  var mybutton = document.getElementById("myBtn");

  // quando rolar a página 20px do topo para baixo, o botão será exibido
  window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// // quando clicar no botão, a página rola para o topo do documento
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

{{!-- Script de link do Bootstrap --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>