<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!--❤️Feito com amor por Daniele e Junior❤️-->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!-- Título da página --}}
	<title>Power Mind</title>

	 <!--Link CSS externo-->
    <link rel="stylesheet" href="../css/estilo-login.css">

	<!--Bootstrap-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    {{!-- Link de fonte --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Meddon&display=swap" rel="stylesheet">

    {{!-- Link de fonte --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
</head>
<body style="background-color: #232946">
<div class="container-fluid">
    <div class="row no-gutter justify-content-around">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6" id="colunacor">
            <div class="login d-flex align-items-center">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8 mx-auto">
                            <h3 class="display-4">Faça seu login!</h3>
                            <p class="text mb-4" id="text-pqn">Seja bem-vindo ao site Power Mind!</p>
                            <form action="/usuario/loginusuario" method="POST">
                                 <div class="form-group mb-3">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control rounded-pill border-0 shadow-sm px-4" id="email" aria-describedby="emailHelp" name="email" placeholder="Digite seu email">
                                  </div>
                                  <div class="form-group mb-3">
                                    <label for="senha" class="form-label">Senha:</label>
                                    <input type="password" class="form-control rounded-pill border-0 shadow-sm px-4" id="senha" name="senha" placeholder="Digite sua senha">
                                  </div>
                                  <div class="form-group mb-3">
                                    <label for="codigo" class="form-label">Codigo enviado por email:</label>
                                    <input type="password" class="form-control rounded-pill border-0 shadow-sm px-4" id="codigo" name="codigo" placeholder="Digite seu codigo">
                                  </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Lembre-me</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mb-2 rounded-pill">Login</button>
                                <div class="text-center d-flex justify-content-between mt-4"><p>Esqueceu a senha?<a href="esqsenha" class="font-italic"> 
                                        <u>Clique aqui!</u></a></p></div>
                                <label for="cadastro" class="form-label">Não é cadastrado?<a href="cadastro"> Cadastre-se</a></label>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
</body>
</html>