<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../css/style.css" rel="stylesheet">
</head>
  <body>
      <div class="container">
          <div class="row">
                <div class="col"></div>
                </div>
      </div>





<!-- Container de boas-vindas -->
    <h2 class="boasvindas">Seja-bem vindo(a) a nossa comunidade,
      <br>
      <!-- Text de boas-vindas -->
      Estamos muito felizes por ter você aqui!
    </h2>
    <br>
    </div>
  <!-- Containers dos primeiros tópicos -->
  <div class="row-cols-12 text-center" id="segundo-container">
    <!-- Imagem da borda do primeiro container -->
  <div class="img-fluid" id="imagenzinha">
    <img class="text-center w-100" src="/img/borda_torta.png">
  </div>
<div class="row-cols-12 justify-content-center">
   <div class="col-sm-5" id="ct1">
    <div class="textodentro">
     <h3>O que é Saúde Mental?</h3>
     <br>
     <p>A Saúde Mental de uma pessoa está relacionada à forma como ela reage às exigências da vida e ao modo como 
      harmoniza seus desejos, capacidades, ambições, ideias e emoções. Ter saúde mental é: Estar bem consigo mesmo 
      e com os outros.</p>
        </div>
   </div>
   <div class="col-sm-6" id="ct1">
    <div class="textodentro2">
     <h3>Por que é importante cuidar da saúde mental?</h3>
     <br>
     <p>A saúde mental tem influência nas condições físicas, no bem-estar e nas atividades relacionadas ao 
      cérebro, como a cognição. Somado a isso, uma mente tranquila tem melhores condições de administrar 
      situações estressantes, ser mais produtiva e atenta.</p>
        </div>
   </div>
   </div>
 </div>
 <div class="img-fluid" id="imagenzinha2">
    <img class="text-center w-100" src="/img/segunda_borda5.png">
    </div>
 <div class="col-fluid" id="terceirocontainer">
  <div class="col-sm-8"  id="segcol">
  <h2>Tire um tempo para si!</h2>
  <p>Muitas pessoas desconhecem a importância de ter um <span class="marcatexto">descanso</span>, de tirar um tempo para 
    si, mas é a partir dele que temos o bem-estar físico e mental, evitando a sobrecarga 
    do dia a dia, é mais do que necessário que você realize atividades de lazer, atividades 
    que te proporcionem conforto, seus hobbies.</p>
  </div>
  
  <div class="col-sm-3 align-self-end"  id="segcol">
    <img class="w-100" src="/img/mocinha.png" id="mocinha">
  </div>
  </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>